
<!DOCTYPE html>
<html lang="id-ID">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portal Resmi - DPRD Provinsi Sulawesi Selatan">
    <meta name="keyword" content="DPRD Sulsel, Anggota DPRD SULSEL, dewan sulsel, wakil rakyat sulsel">
    <meta name="author" content="DPRD Provinsi Sulawsi Selatan">
    <!-- browser color -->
    <meta name="theme-color" content="#8e001c">
    <meta name="msapplication-navbutton-color" content="#8e001c">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="shortcut icon" href="vendors/logox.png">
    <title> Portal Resmi - DPRD Provinsi Sulawesi Selatan</title>


    <link rel="stylesheet" type="text/css" href="vendors/main.css" media="all">
    <link rel="stylesheet" type="text/css" href="vendors/robi.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Gambar Slider -->
    <div class="carousel slide carousel-fade" data-ride="carousel" data-interval="9620">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active" style="background-image:url(vendors/dprd-sulsel.jpg);"></div>

          <div class="item " style="background-image:url(vendors/thumbnail.jpg);"></div>
        </div>
    </div>
    <!-- /Gambar Slider -->

    <section id="main-wrapper">

        <header id="header-portal" style="padding-top:20px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                      <center>
                        <img src="vendors/logo.png" alt="DPRD Provinsi Sulawesi Selatan" class="responsive">
                            <p>Jl. Urip Sumoharjo No.59 <br>  Kota Makassar, Sulawesi Selatan 90232
                              <br> Telp. (0411) 453344 | info@dprd.sulselprov.go.id
                             </p>


                      </center>
                    </div>
                    <div class="col-md-12" style="margin-top:40px;">
                        <main id="main-portal">
                            <div class="row">
                              <div class="col-sm-3 col-xs-6" style="margin-bottom:15px;">
                                <a href="#" style="text-decoration:none;">
                                <div class="box" style="">
                                  <i style="font-size:60px;" class="fa fa-bullhorn"></i>
                                  <h3> Berita  </h3>
                                </div>
                                </a>
                              </div>
                              <div class="col-sm-3 col-xs-6" style="margin-bottom:15px;">
                                <a href="#" style="text-decoration:none;">
                                <div class="box" style="">
                                  <i style="font-size:60px;" class="fa fa-users"></i>
                                  <h3> Anggota  </h3>
                                </div>
                                </a>
                              </div>
                              <div class="col-sm-3 col-xs-6" style="margin-bottom:15px;">
                                <a href="#" style="text-decoration:none;">
                                <div class="box" style="">
                                  <i style="font-size:60px;" class="fa fa-sitemap"></i>
                                  <h3> Komisi </h3>
                                </div>
                                </a>
                              </div>
                              <div class="col-sm-3 col-xs-6" style="margin-bottom:15px;">
                                <a href="#" style="text-decoration:none;">
                                <div class="box" style="">
                                  <i style="font-size:60px;" class="fa fa-share"></i>
                                  <h3>  Beranda </h3>
                                </div>
                                </a>
                              </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </header>


        <footer id="footer-portal">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright text-center">
                            &copy;2019 Dewan Perwakilan Rakyat Daerah Provinsi Sulawesi Selatan .<!--Dikembangkan oleh <a href="http://dinustek.co.id">dinustek</a>-->
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </section>


    <script src="https://dprd.semarangkota.go.id/assets/portal/js/jquery.min.js"></script>
    <script src="https://dprd.semarangkota.go.id/assets/portal/js/bootstrap.min.js"></script>
  </body>
</html>
