.dataTables_filter {
    float: left !important;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .btn-datatb{
        width: 100%;
        margin-bottom: 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .btn-datatb{
        width: 100%;
        margin-bottom: 5px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .btn-datatb{
        margin-top: 3px;
        margin-bottom: -50px;
        width:auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 970px) {
    .btn-datatb{
        margin-top: 3px;
        margin-bottom: -50px;
        width:auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .btn-datatb{
        margin-top: 3px;
        margin-bottom: -50px;
        width:auto;
    }
}
